.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #bf2121 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #bf2121 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

.logo1{
  width: 150px;
  height: 50.0px;
}
.ant-layout{
  background: black;
  background-image: url("https://thumbs.gfycat.com/AnyFaithfulHylaeosaurus-max-1mb.gif");
  

}

.ant-layout-header{
  background: black;
}


/* .ant-menu-overflow{
  background-color: black;
} */

.name{
  color: black;
  text-align: center;
}

.white{
  color: white;
  text-align: center;

}
.barter-logo{ 
  text-align: center;
  width:250px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  
}

.newoo{ 

  width:75px;
  height: 42px;
  display: inline-block;
 
  
}
.newoo1{ 

  width:42px;
  height: 42px;
  display: inline-block;
 
  
}
.newoo2{ 

  width:50px;
  height: 50px;
  display: inline-block;
 
  
}
.newoo3{ 

  width:40px;
  height: 40px;
  display: inline-block;
 
  
}




.jin{
  color: white;
}
.jin2{
  color: white;
}
.jin3{
  color: white;
}

.huha{
  color: white;
}

.name2{
  color: white;
}
.name3{
  color: white;
}

.size{

  text-align: center;
  width:250px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}


